Le but de ce projet est de mettre en place un portofoli de développeur web.

Ce portofolio est développé avec Next.js et TailwindCSS.

Ce portofolio est hébergé sur Vercel.

base toi sur ce que tu connais
dev web back -end  php next react symfony   travail chez kernix alternant master  tech lead  centre d'interet le sport  domotique
mon nom gamiette teddy
je veux un protfolia Stylé en design axé sport  mais aussi en design axé web